doctype html 
html
    head
        script(src="https://unpkg.com/htmx.org@1.9.5")
        link(rel='stylesheet', type='text/css', href='/output.css')
    body 
        div(class="bg-slate-100")
            |This is my first page !